server {
    root              <%= ENV['OPENSHIFT_REPO_DIR'] %>/www;
    listen            <%= ENV['OPENSHIFT_PHP_IP'] %>:<%= ENV['OPENSHIFT_PHP_PORT'] %>;
    server_name       <%= ENV['OPENSHIFT_APP_DNS'] %>;

    set_real_ip_from  <%= ENV['OPENSHIFT_PHP_IP'] %>;
    real_ip_header    X-Forwarded-For;

    # avoid caching by proxies
    add_header        Cache-Control private;

    # php file goes straigth to backend
    location ~ \.php$ {
        root           <%= ENV['OPENSHIFT_REPO_DIR'] %>/www;
        fastcgi_pass   <%= ENV['OPENSHIFT_PHP_FPM_IP'] %>:<%= ENV['OPENSHIFT_PHP_FPM_PORT'] %>;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME   $document_root$fastcgi_script_name;
        include        fastcgi_params;
        include        openshift_params;
        # uncomment to export all environment variables to fastcgi
        #include        <%= ENV['OPENSHIFT_REPO_DIR'] %>/config/nginx.d/export_env;
    }

    # site root is served by /index.php
    location ~ ^/$ {
        root           <%= ENV['OPENSHIFT_REPO_DIR'] %>/www;
        fastcgi_pass   <%= ENV['OPENSHIFT_PHP_FPM_IP'] %>:<%= ENV['OPENSHIFT_PHP_FPM_PORT'] %>;
        fastcgi_param  SCRIPT_FILENAME   $document_root/index.php;
        include        fastcgi_params;
        include        openshift_params;
        # uncomment to export all environment variables to fastcgi
        #include        <%= ENV['OPENSHIFT_REPO_DIR'] %>/config/nginx.d/export_env;
    }

    # avoid unnecessary log
    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location = /robots.txt {
        access_log off;
        log_not_found off;
    }

    # Serving static files under /static/
    location /static/ {
        try_files $uri $uri/ =404;
    }

    # Handle any other URI
    location / {
        try_files $uri $uri/ =404;
    }
}
